@{
    ViewBag.Title = "DEMO purpose Email Link";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
   Por favor, verifique seu email e confirme seu endereço de email.
</p>
<p class="text-danger">
    Aplicação DEMO: Você pode clicar neste link para confirmar o email: <a href="@ViewBag.Link">link</a>.
</p>
