@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor, verifique seu email para reiniciar sua senha.
    </p>
    <p class="text-danger">
        Aplicação DEMO: Você pode clicar no link para reiniciar sua senha: <a href="@ViewBag.Link">link</a>.
    </p>
</div>

